services:
  # Keycloak Service
  - type: web
    name: savefood-keycloak
    runtime: docker
    plan: free
    dockerfilePath: ./keycloak/Dockerfile
    dockerContext: ./keycloak
    envVars:
      - key: KEYCLOAK_ADMIN
        value: admin
      - key: KEYCLOAK_ADMIN_PASSWORD
        generateValue: true
      - key: KC_HOSTNAME_STRICT
        value: false
      - key: KC_PROXY
        value: edge
      - key: KC_HTTP_ENABLED
        value: true
      - key: KC_DB
        value: mysql
      - key: KC_DB_URL
        value: jdbc:mysql://keycloak-db.cbqgwoyam2lh.ap-southeast-2.rds.amazonaws.com:3306/keycloakdb
      - key: KC_DB_USERNAME
        value: admin
      - key: KC_DB_PASSWORD
        sync: false

  

  # Frontend Admin
  - type: web
    name: savefood-admin
    runtime: docker
    plan: free
    dockerfilePath: ./website/fe_admin/Dockerfile
    dockerContext: ./website/fe_admin
    dockerCommand: npm run start
    envVars:
      - key: PORT
        value: 3000
      - key: VITE_API_BASE_URL
        value: https://graduation-project-ftns.onrender.com
    buildFilter:
      paths:
        - website/fe_admin/**

  # Frontend Supplier
  - type: web
    name: savefood-supplier
    runtime: docker
    plan: free
    dockerfilePath: ./website/fe_supplier/Dockerfile
    dockerContext: ./website/fe_supplier
    dockerCommand: npm run start
    envVars:
      - key: PORT
        value: 3000
      - key: VITE_API_BASE_URL
        value: https://graduation-project-ftns.onrender.com
      - key: VITE_GOONG_API_KEY
        value: PQrW93KH2byinPvRY3oWF4IhG7sY0oP5vSf4Ci0h
    buildFilter:
      paths:
        - website/fe_supplier/**

